.partner {
    &__title {
        font-size: 55px;
        font-family: 'Gotham Pro Bold';
        line-height: 62px;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 14px;
        font-family: 'Gotham Pro Light';
        line-height: 21px;
        margin-bottom: 100px;
    }
}